navbar-orange .nav-link,
.navbar-orange .nav-link:hover,
.navbar-orange {
  color: white !important;
}
.navbar-orange .navbar-toggler {
  border-color: white !important;
}
.navbar-orange {
  background-color: rgb(57, 165, 57) !important;
}
.navbar-orange .navbar-brand:hover {
  color: aqua !important;
}
.navbar-orange .nav-link {
  color: black !important;
}
